<footer>
  <div class="container h-100">
      <div class="row footer-content  ml-12 mr-12">
          <div class="col-12 col-sm-6 pr-24 mb-36">
              <div class="container">
                  <p class="footer-heading text-transform-uppercase fw-600">Omor Faruque</p>
                  <p class="footer-desc">An Online market place for awesome products.</p>
              </div>
          </div>
          <div class="col-12 col-sm-6 right-box  mb-36">
              <p class="footer-heading text-transform-uppercase fw-600">Social</p>
              <div class="footer-icon">
                  <a href="https://www.linkedin.com/in/md-faruque-2b7068283/" class="linkedin"><img
                          src="/images/linkedin-ico.png" alt="Logo Linkedin"></a>
                  <a href="https://github.com/omor-faruque"><img src="/images/github-ico.png"
                          alt="Logo Github"></a>
                  <a href="https://www.youtube.com/@pwm." class="youtube"><img src="/images/yt-ico.png"
                          alt="Logo Youtube"></a>
              </div>
          </div>
      </div>
      <div class="copy-right">
          © Copyright
          <script>document.write(new Date().getFullYear())</script>. Made by
          <a rel="noreferrer" target="_blank" href="https://www.linkedin.com/in/md-faruque-2b7068283/">Omor
              Faruque</a>
      </div>
  </div>



</footer>