<div class="card pb-8" *ngIf="product">
    <img [src]="product.image" alt="Product Image">
    <div class="card-content">
        <h2 class="product-name">{{product.name}}</h2>
        <p class="product-price ff-Courier-New">${{product.price}}</p>
        <p class="product-description">{{product.description}}</p>


        <div class="row">
            <div class="quantity ml-12">
                <button class="minus" (click)="decreaseQuantity()">&minus;</button>
                <input type="number" class="input-box" [(ngModel)]="quantity" min="0">
                <button class="plus" (click)="increaseQuantity()">&plus;</button>
            </div>

            <div class="add-to-cart ff-Courier-New w-auto">
                <button class="styled-button bg-c-black" (click)="addToCart()">Add to cart</button>
            </div>

        </div>





    </div>
</div>