<app-header></app-header>
<app-hero-banner></app-hero-banner>
<app-h-p-section
[heading]="'Winter Sale is ON!!!'"
[paragraph]="'At FluidTec, we\'re not just a tech store; we\'re your gateway to a world of innovation and savings. Whether you\'re in pursuit of the latest in computing power or seeking budget-friendly alternatives without compromising quality, FluidTec.ca is your go-to destination.'"
[alignCentre]="true"
></app-h-p-section>
<!-- <router-outlet></router-outlet> -->
<app-footer></app-footer>